<app-admin-modal
    [title]="'대회(중계)'"
    [isNeedBorder]="true"
>
    <div style="width: 250px;background-color: #E3E3E3; text-align: center; padding: 8px 20px;">
        대회추가
    </div>
    <div style="color: #fff; margin-top: 20px;">
        현재 진행중인 대회
    </div>
    <div style="display: flex; align-items: center; margin-top: 20px;">
        <div style="background-color: #0064C8; color: #fff; font-size: 24px; padding: 8px 15px;">제 23회 미추홀기 전국사격대회</div>
        <div class="item" style="margin-left: 10px;">참가자 등록</div>
        <div class="item" style="margin-left: 5px;">경기 설정</div>
        <div class="item" style="margin-left: 5px;">시작</div>
    </div>
    <div style="color: #fff; margin-top: 20px;">
        지난 대회
    </div>
    <div style="margin-top: 20px; display: flex; align-items: center;"> <!--ngFor-->
        <div style="background-color: #003B77; color: #fff; font-size: 24px; padding: 12px 15px;">제 23회 미추홀기 전국사격대회</div>
        <div style="margin-left: 10px; background-color: #E3E3E3; padding: 8px; text-align: center; width: 100px;">조회</div>
    </div>
</app-admin-modal>