<div class="logo">
    <img src="assets/logo.svg"> 
</div>

<div style="width: 100%; height: 100%; padding-bottom: 80px; display: flex; align-items: center; background-image: url('/assets/back_img.png'); background-size: 100% 100%;">
    <div style=" width: 100%; margin: 0 auto; text-align: center; ">
        <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8]; let i = index;">
            <div style="display: inline-block;" >
                <div style="background-color: #1C4660;padding: 7px;">
                    <div style="display: flex; gap: 5px;">
                        <div style="flex:4.5">
                            <div style="display: flex; flex-direction: column;">
                                <div style="flex:1; margin-bottom: 10px;">
                                    <div style="display: flex; align-items: center; gap: 7px;">
                                        <div style="font-size: 35px; color: #fff;" class="material-icons">check_box</div>
                                        <div style="text-align: center; background-color: #0063D4; padding:3px 13px; color:#fff">
                                            <div style="font-size: 21px; font-weight: bold;">1</div>
                                            <div style="font-size: 8px;">LANE</div>
                                        </div>
                                        <div style="flex:1; background-color: #0063D4;">
                                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                                <div>
                                                    <div style="display: inline-block;">
                                                        <img width="97%" src="/assets/korea-flag.svg">
                                                    </div>
                                                    <div style="display: inline-block; font-size: 22px; color:#fff; font-weight: 500; margin-left: 15px;">KSLS777</div>
                                                </div>
                                                <div class="material-icons" style="color:#fff; padding-right: 5px;">
                                                    settings
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="flex:auto; background-color: black;">
                                    <div style="background-color: #fff; width: 100%; padding:5px 0px;">
                                        <div [style.background-image]="'url(' + '/assets/shot-img.svg' + ')'" style=" padding-top:75%; background-position: center; background-repeat: no-repeat; background-size: 100% 100%; position:relative"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="flex:1.5">
                            <div style="display: flex; flex-direction: column; gap:6px">
                                <div style="padding:15px 0px; text-align: center; border:1px solid #fff">
                                    <div style="color:#fff">
                                        <span style="font-size: 12px;">1 시리즈</span>
                                        <span style="color:#E90000; font-size: 19px;"> 7 </span>
                                        <span style="font-size: 19px;">/ 10</span>
                                    </div>
                                    <div style="font-size: 33px; margin-top:5px;font-size:bold; color:#fff">03 : 00</div>
                                </div>
                                <ng-container *ngFor="let item of [1]">
                                    <div style="flex:1;">
                                        <div style="display: flex; align-items: center;">
                                            <div>
                                                <div style="font-size: 6px; padding:5px; background-color:#E8E8E8; font-weight: 400;">Elapsed Time</div>
                                                <div style="color:#fff; background-color: #004492; text-align: center; font-weight: 500; padding:10px 5px">02 : 24</div>
                                            </div>
                                            <div style="flex:1; background-color: #0063D4; font-size:28px; text-align: center; color:#fff; padding:13px 10px;">55.7</div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; gap:5px; padding-top:10px;">
                        <div style="flex:3; background-color: #fff; padding:5px 20px;">
                            <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                                <div style=" width: 40px; height: 40px; background-image: url('/assets/start-btn.svg'); background-size: cover; background-repeat: no-repeat; background-position: center;  margin-right: 10px;"></div>
                                <div style="width: 30px; height: 30px;  background-image: url('/assets/pause-btn.svg'); background-size: cover; background-repeat: no-repeat; background-position: center;  "></div>
                                <div style="width: 30px; height: 30px;  background-image: url('/assets/stop-btn.svg'); background-size: cover; background-repeat: no-repeat; background-position: center;  "></div>
                            </div>
                        </div>
                        <div style="flex:5; background-color: #0063D4; justify-content: right; display: flex; align-items: center;">
                            <div style="font-size:35px; color:#fff; padding:0px 13px;">
                                <span style="vertical-align: baseline;">*15</span>
                                <span style="vertical-align: baseline; margin: 0 15px;">/</span>
                                <span style="vertical-align: baseline;">321.4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="(i+1) % countByPlayers[8] === 0"></div>
        </ng-container>
    </div>
    <ng-container *ngIf="players<4">
        <div style="width: 50%; margin:0 auto; background-color: #1C4660; padding: 7px;" *ngFor="let item of [1,2]">
            <div style="display: flex; gap: 5px;">
                <div style="flex:5">
                    <div style="display: flex; flex-direction: column;">
                        <div style="flex:1; margin-bottom: 10px;">
                            <div style="display: flex; align-items: center; gap: 7px;">
                                <div style="font-size: 35px; color: #fff;" class="material-icons">check_box</div>
                                <div style="text-align: center; background-color: #0063D4; padding:3px 13px; color:#fff">
                                    <div style="font-size: 1.8rem; font-weight: bold;">1</div>
                                    <div style="font-size: 0.8rem;">LANE</div>
                                </div>
                                <div style="flex:1; background-color: #0063D4;">
                                    <div style="display: flex; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div style="display: inline-block;">
                                                <img width="97%" src="/assets/korea-flag.svg">
                                            </div>
                                            <div style="display: inline-block; font-size: 2rem; color:#fff; font-weight: 500; margin-left: 15px;">KSLS777</div>
                                        </div>
                                        <div class="material-icons" style="color:#fff; padding-right: 5px;">
                                            settings
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="flex:auto; background-color: black;">
                            <div style="background-color: #fff; width: 100%; padding:5px 0px;">
                                <div [style.background-image]="'url(' + '/assets/shot-img.svg' + ')'" style=" padding-top:75%; background-position: center; background-repeat: no-repeat; background-size: 100% 100%; position:relative"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex:1.5 ">
                    <div style="display: flex; flex-direction: column; gap:6px">
                        <div style="padding:15px 0px; text-align: center; border:1px solid #fff">
                            <div style="color:#fff">
                                <span style="font-size: 1.2rem;">1 시리즈</span>
                                <span style="color:#E90000; font-size: 2rem;"> 7 </span>
                                <span style="font-size: 2rem;">/ 10</span>
                            </div>
                            <div style="font-size: 3rem; margin-top:5px;font-size:bold; color:#fff">03 : 00</div>
                        </div>
                        <ng-container *ngFor="let item of [1,2,3,4,5,6]">
                            <div style="flex:1;">
                                <div style="display: flex; align-items: center;">
                                    <div>
                                        <div style="padding:5px; background-color:#E8E8E8; font-weight: 400;">Elapsed Time</div>
                                        <div style="font-size: 24px; color:#fff; background-color: #004492; text-align: center; font-weight: 500; padding:10px 5px">02 : 24</div>
                                    </div>
                                    <div style="flex:1; background-color: #0063D4; font-size: 45px; color:#fff; padding:13px 10px;">55.7</div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div style="display: flex; gap:5px; padding-top:10px;">
                <div style="flex:3; background-color: #fff; padding:5px 20px;">
                    <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                        <div style="flex:0.5; background-image: url('/assets/start-btn.svg'); background-size: cover; background-repeat: no-repeat; background-position: center; padding-top: 35%; margin-right: 10px;"></div>
                        <div style="flex:0.4; background-image: url('/assets/pause-btn.svg'); background-size: cover; background-repeat: no-repeat; background-position: center; padding-top: 28%; "></div>
                        <div style="flex:0.4; background-image: url('/assets/stop-btn.svg'); background-size: cover; background-repeat: no-repeat; background-position: center; padding-top: 28%; "></div>
                    </div>
                </div>
                <div style="flex:5; background-color: #0063D4; justify-content: right; display: flex; align-items: center;">
                    <div style="font-size:55px; color:#fff; padding:0px 13px;">
                        <span style="vertical-align: baseline;">*15</span>
                        <span style="vertical-align: baseline; margin: 0 15px;">/</span>
                        <span style="vertical-align: baseline;">321.4</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div style="position: fixed;  bottom: 0; left: 0; width: 100%; background-color: #323240; display: flex; padding:15px 50px; align-items: center;justify-content: center; gap:50px;">
    <div style="display: flex; margin-right:70px;">
        <button class="config-btn" style="margin-right: 30px;">시스템 환경설정</button>
        <button class="config-btn">LANE 선택하기</button>
    </div>
    <div style="display: flex; margin-right: 70px;">
        <div style="background-image: url('/assets/admin-start-btn.svg'); background-size: 100% 100%; width: 50px; height: 50px;"></div>
        <div style="background-image: url('/assets/admin-pause-btn.svg'); background-size: 100% 100%; width: 50px; height: 50px; margin:0px 30px;"></div>
        <div style="background-image: url('/assets/admin-stop-btn.svg'); background-size: 100% 100%; width: 50px; height: 50px;"></div>
    </div>
    <div style="display: flex; margin-right: 70px;">
        <button class="config-btn" style="width: 100px;">리 셋</button>
    </div>
    <!-- <div style="color:#fff; font-size:20px;">{{today | date:'yyyy-MM-dd hh:mm:ss'}}</div> -->
</div>      

