.info-wrap{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1.5fr;
    .item{
        text-align: center; 
        padding:10px 0px;
        border-bottom:1px solid #C5C5C5;
        border-right: 1px solid #C5C5C5;
        input {
            width:100%; 
            height:100%; 
            border:none;
            border-bottom: 1px solid;
        }
        .right-center {
            text-align: center;
        }
    }
}