<div class="user-container">
    <div class="left-value">이름</div>
    <div class="right-value">홍길동</div>
    <div class="left-value">성별</div>
    <div class="right-value" id="right-center">남자</div>
    <div class="left-value">생년월일</div>
    <div class="right-value">1999.01.28</div>
    <div class="left-value">회원형태</div>
    <div class="right-value" id="right-center">학생</div>
    <div class="left-value">사용자ID</div>
    <div class="right-value">KSLS777</div>
    <div class="left-value">최종 점수</div>
    <div class="right-value" id="right-center">77.2점</div>
    <div class="left-value">휴대전화</div>
    <div class="right-value">010-1111-1234</div>
    <div class="left-value">평균 점수</div>
    <div class="right-value" id="right-center">12점</div>
    <div class="left-value">휴대전화(보호자)</div>
    <div class="right-value">010-1111-1112</div>
    <div class="left-value">종 목 </div>
    <div class="right-value" id="right-center">10m 권총</div>
    <div class="left-value">주 소</div>
    <div class="right-value">강남구 논현로 140길</div>
    <div class="left-value">회원 가입일</div>
    <div class="right-value" id="right-center">2022.05.03</div>
</div>
<div class="etc">
    <div class="left-value" id="left-item">기타</div>
    <div class="right-value" id="right-item">
        <textarea class="right-item" type="text" placeholder="기타사항 "></textarea>
    </div>
</div>
<div style="width: 100%; background-color: #EDEFF5;">
    <div style="padding: 6px 15px 10px 0; text-align: right; ">
        <button style="  background-color: #0064FF;padding: 6px 10px; border-radius: 10px; color: #fff;" mat-ripple>수정완료</button>
    </div>
</div>