<div style="width: 780px;">
    <div class="title-bar" style="text-align: center; font-size:30px; font-weight: bold; padding:15px 0px; position:relative">
        <span style="vertical-align: baseline;">비밀번호 변경</span>
        <div style="position:absolute; font-size:40px; font-weight: bold; right:10px; top:50%; transform: translateY(-50%);" class="material-icons" (click)="closePassword();">close</div>
    </div>
    <div style="height: 480px; background-color: #EDEFF5;">
        <div style="padding:40px; text-align: center;">
            <div style="margin:0 auto;background-image:url('/assets/lock.png'); width: 69px ; height: 81px; "></div>
            <div style="margin-top:10px; color:#828282; font-size:15px;">새로운 비밀번호를 등록 후 사용해 주시기 바랍니다.</div>
        </div>
        <div style="padding:0px 100px;">
            <div style="display: flex; align-items: center;">
                <div style="width: 200px; font-size: 20px;">로그인 ID</div>
                <div style="width:300px; font-size: 20px;">KSLS777</div>
            </div>
            <div style="display: flex; align-items: center; margin-top:20px;">
                <div style="width: 180px; font-size: 20px;">현재 비밀번호</div>
                <input type="password"/>
            </div>
            <div style="display: flex; align-items: center;margin-top:10px;">
                <div style="width: 180px; font-size: 20px;">새로운 비밀번호</div>
                <input type="password"/>
            </div>
            <div style="display: flex; align-items: center;margin-top:10px;">
                <div style="width: 180px; font-size: 20px;">새 비밀번호 확인</div>
                <input type="password"/>
            </div>
            <div style="display: flex; align-items: center;margin-top:10px;">
                <div style="width: 180px; font-size: 20px;"></div>
                <div style="width: 300px; text-align: right;">
                    <button style="background-color: #0064FF; color:#fff;border-radius: 5px; border:none; padding:5px 10px; font-size:18px" mat-ripple>비밀번호 변경</button>
                </div>
            </div>
        </div>
    </div>
</div>
