<div>
    <div class="title-bar" style="display: flex; justify-content: space-between; align-items: center; width: 1000px; padding:10px 30px">
        <div style="margin-left: 20px; font-size: 25px; font-weight: 500;">시스템 환경설정</div>
        <div class="material-icons" style="font-size: 35px; font-weight: bold;">close</div>
    </div>
    <div style="padding:30px 50px;">
        <div style="display: flex;">
            <div style="padding:7px 25px; text-align: center;background: transparent linear-gradient(180deg, #0079C6 0%, #0C3F79 100%); color:#fff; font-size: 21px;">타이머 환경 설정</div>
            <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff; font-size:18px">
                <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                    <div style="flex:2;">
                        <span>제한시간 설정</span>
                        
                    </div>
                    <div style="flex:1.5;">
                        <span style="margin-right: 15px;">직접입력</span>
                        <input  style="width: 60px;margin-right: 10px; padding:0px 10px;">
                        <span>초</span>
                    </div>
                    <div style="flex:1; text-align: center;">
                        <span>ON</span>
                        <span class="material-icons" style="margin-right: 20px;">check_box</span>
                        <span>OFF</span>
                        <span class="material-icons">check_box</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
