.btn-wrap{
    display: flex;
    gap:10px;
    button{
        min-width: 50px;
        padding:1px 12px;
        font-size:15px;
        font-weight: 400;
        border: 2px solid #2E3036;
        border-radius: 5px;
        
    }
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff3b3b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff3b3b;
    cursor: pointer;
}