<div style="overflow: hidden; ">

    <div class="title-bar" style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding:10px 30px">
        <div style="margin-left: 20px; font-size: 25px; font-weight: 500;">시스템 환경설정</div>
        <div class="material-icons" style="font-size: 35px; font-weight: bold;" (click)="closeGameConfig();">close</div>
    </div>

    <div style="padding:60px; background:linear-gradient(to bottom,#1B1623,#433754); position: relative;">
        <div style="position: absolute; left: 0px; top:50%; transform: translateY(-50%);"> 
            <img src="/assets/left-setting.svg" >
        </div>
        <div style="position: absolute; right: 0px; bottom:30px; pointer-events: none;"> 
            <img src="/assets/right-setting.svg" >
        </div>
        <div style="position: absolute; right: 20%; top:0px;"> 
            <img src="/assets/top-setting.svg" >
        </div>
        <div style="position: absolute; left: 20%; bottom:0px;"> 
            <img src="/assets/bottom-setting.svg" >
        </div>
        <div style="border: 1px solid #ccc; padding:30px; font-size:18px; font-weight:500;">
            <div style="display: flex; margin-bottom:15px;">
                <div style="padding:7px 0px; width: 160px;"></div>
                <div style="flex:1; padding:7px 30px; color:#fff; font-size:15px">
                    <div style="display: flex; width: 100%; align-items: center;">
                        <div style="width: 150px;">
                            <span style="letter-spacing: 2px; margin-right: 5px;">언어</span>
                            <div style="display: inline-block; background-color: #fff; width: 70px;height: 19px; color:#1B1623; text-align: center; font-size:13px; font-weight: 500; letter-spacing: 1px; line-height: 18px;">한국어</div>
                            <img style="width: 19px; height: 19px;" src="/assets/down-arrow.svg">
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex;">
                <div style="padding:7px 0px; width: 190px; text-align: center;background: transparent linear-gradient(180deg, #0079C6 0%, #0C3F79 100%); color:#fff; font-size: 21px; display: flex; justify-content: center; align-items: center;">타이머 환경 설정</div>
                <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff;">
                    <div style="display: flex; width: 100%; align-items: center; ">
                        <div style="width: 35px;"></div>
                        <div style="width: 150px;">
                            제한시간 설정
                        </div>
                        <div style="width: 255px; position:relative;">
                            <div (click)="activeTimerConfig = activeTimerConfig ? false : true" style="width: 104px; ">
                                <div style="cursor: pointer; display: inline-block; background-color: #fff; width: 80px;height: 24px; color:#1B1623; text-align: center; line-height: 22px; font-size: 17px; font-weight: 400;">{{setTimerMin}} 분</div>
                                <img style="width: 24px; cursor: pointer;" src="/assets/down-arrow.svg">
                            </div>
                            <ng-container *ngIf="activeTimerConfig">
                                <div style="display: inline-block; background-color: #fff; width: 104px;height: 24px; color:#1B1623; text-align: center; line-height: 22px; font-size: 17px; font-weight: 400; position:absolute; bottom: -24px; left: 0px; z-index: 999;">
                                    <ng-container *ngFor="let item of timerMinObj">
                                        <div style="border:1px solid #ccc; background-color: #fff; margin-bottom: -1px; padding:3px; cursor: pointer;" (click)="setTimerMin = item; activeTimerConfig=false;">{{item}} 분</div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div style="width:190px">
                            <div style="display: inline-block; width: 65px; font-size:15px"></div>
                            <div style="display: inline-block; background-color: #fff; width: 60px;height: 28px; color:#1B1623; text-align: center; letter-spacing: 1px; line-height: 22px; font-size: 18px; font-weight: 400; margin-right: 10px;">{{setTimerMin * 60}}</div>
                            <span style="font-size: 20px;">초</span>
                        </div>
                        <div style="width: 150px;">
                            <div style="display: inline-block;cursor: pointer;" (click)="activeTimer=true">
                                <span style="margin-right:5px">ON</span>
                                <span class="material-icons" style="margin-right: 20px;">{{activeTimer ? 'check_box' : 'check_box_outline_blank'}}</span>
                            </div>

                            <div style="display: inline-block;cursor: pointer;" (click)="activeTimer=false">
                                <span style="margin-right:5px" (click)="activeTimer=false">OFF</span>
                                <span class="material-icons">{{activeTimer ? 'check_box_outline_blank' : 'check_box'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; margin-top:15px;">
                <div style="padding:7px 0px; width: 190px;"></div>
                <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff; font-size:17px">
                    <div style="display: flex; width: 100%; align-items: center;">
                        <div style="width: 35px;"></div>
                        <div style="width: 150px;">
                            딜레이 설정
                        </div>
                        <div style="width: 295px;">
                            <div style="position:relative">
                                <input class="delay-bar" [(ngModel)]="delayTime" type="range" min="1" max="10" value="1" step="1" >
                                <img [style.left.px]="delayTime === 1 ? 3 : 31*(delayTime-1)+0.5" style="position: absolute; top:5px;pointer-events: none;" src="/assets/control-circle.png">
                            </div>
                        </div>
                        <div style="width:150px">
                            <div style="display: inline-block; width: 25px;"></div>
                            <div style="display: inline-block; background-color: #fff; width: 60px;height: 28px; color:#1B1623; text-align: center; letter-spacing: 1px; line-height: 22px; font-size: 18px; font-weight: 400; margin-right: 10px;">{{delayTime}}</div>
                            <span style="font-size: 20px;">초</span>
                        </div>
                        <div style="width: 150px;">
                            <div style="display: inline-block;cursor: pointer;" (click)="activeDelay = true">
                                <span style="margin-right:5px">ON</span>
                                <span class="material-icons" style="margin-right: 20px;">{{activeDelay ? 'check_box' : 'check_box_outline_blank'}}</span>
                            </div>
                            <div style="display: inline-block;cursor: pointer;" (click)="activeDelay = false">
                                <span style="margin-right:5px">OFF</span>
                                <span class="material-icons">{{activeDelay ? 'check_box_outline_blank' : 'check_box'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; margin-top:15px;">
                <div style="padding:7px 0px; width: 190px; text-align: center;background: transparent linear-gradient(180deg, #0079C6 0%, #0C3F79 100%); color:#fff; font-size: 21px; display: flex; justify-content: center; align-items: center;">표적지 변경</div>
                <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff; font-size:17px">
                    <div style="display: flex; width: 100%; align-items: center;">
                        <div style="width: 35px;"></div>
                        <div style="width: 150px;">
                            표적지 선택
                        </div>
                        <div style="width: 315px; position: relative;">
                            <div (click)="activeTargetConfig = activeTargetConfig ? false : true" style="width: 222px; cursor: pointer;">
                                <div style="display: inline-block; background-color: #fff; width: 200px;height: 22px; color:#1B1623; text-align: center; letter-spacing: 1px; line-height: 22px; font-size: 16px;">{{titleTarget}}</div>
                                <img style="width: 22px; height: 22px;" src="/assets/down-arrow.svg">
                            </div>
                            <ng-container *ngIf="activeTargetConfig">
                                <div style="display: inline-block; background-color: #fff; width: 222px;height: 24px; color:#1B1623; text-align: center; line-height: 22px; font-size: 17px; font-weight: 400; position:absolute; bottom: -24px; left: 0px; z-index: 999;">
                                    <ng-container *ngFor="let item of targetTitleArr">
                                        <div style="border:1px solid #ccc; background-color: #fff; margin-bottom: -1px; padding:3px; cursor: pointer;" (click)="titleTarget = item; activeTargetConfig=false;">{{item}}</div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div class="btn-wrap">
                            <button  (click)="openGameTargetConfig();">미리보기</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; margin-top:15px;">
                <div style="padding:5px 0px; width: 190px; text-align: center;background: transparent linear-gradient(180deg, #0079C6 0%, #0C3F79 100%); color:#fff; font-size: 21px; display: flex; justify-content: center; align-items: center;">영점 조절</div>
                <div style="flex:1; padding:5px 30px; background-color: #4A4F5E; color:#fff; font-size:17px">
                    <div style="display: flex; width: 100%; align-items: center;">
                        <div style="width: 35px;"></div>
                        <div style="width: 465px;">
                            표적지 영점 조절 <span style="font-size: 13px; font-weight: 400; vertical-align: baseline;">( X값, Y값 )</span>
                        </div>
                        <div class="btn-wrap">
                            <button>조절</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; margin-top:15px;">
                <div style="padding:7px 0px; width: 190px; text-align: center;background: transparent linear-gradient(180deg, #0079C6 0%, #0C3F79 100%); color:#fff; font-size: 21px;">경기 환경 설정</div>
                <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff; font-size:17px">
                    <div style="display: flex; width: 100%; align-items: center;">
                        <div style="width: 35px;"></div>
                        <div style="width: 350px;">
                            <div style="display: flex; align-items: center;">
                                <div style="margin-right: 10px;">카메라 밝기 조절 </div>

                                <img (click)="prevCameraLight()" src="/assets/left-btn.svg">
                                
                                <div style="position:relative; width: 140px; margin-right: 5px;">
                                    <input class="short-bar" [(ngModel)]="cameraLight" type="range" min="1" max="5" value="1" step="1">
                                    <img [style.left.px]="cameraLight === 1 ? 1 : (cameraLight-1)*30+4" style="position: absolute; top:5px;pointer-events: none;" src="/assets/control-circle.png">
                                </div>

                                <img (click)="plusCameraLight()" src="/assets/right-btn.svg">
                            </div>
                        </div>
                        <div>
                            <div style="display: flex; align-items: center;">
                                <div style="margin-right: 10px;">조도 설정 </div>

                                <img (click)="prevIlluminance()" src="/assets/left-btn.svg">
                                
                                <div style="position:relative; width: 140px; margin-right: 5px;">
                                    <input class="short-bar" [(ngModel)]="illuminance" type="range" min="1" max="5" value="1" step="1">
                                    <img [style.left.px]="illuminance === 1 ? 1 : (illuminance-1)*30+4" style="position: absolute; top:5px;pointer-events: none;" src="/assets/control-circle.png">
                                </div>
                                
                                <img (click)="plusIlluminance()" src="/assets/right-btn.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div style="display: flex; margin-top:15px;">
                <div style="padding:7px 0px; width: 190px;"></div>
                <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff; font-size:17px">
                    <div style="display: flex; width: 100%; align-items: center;">
                        <div style="width: 35px;"></div>
                        <div style="width: 150px;">
                            사격 횟수 변경
                        </div>
                        <div style="width: 290px; margin-right: 5px;">
                            <div style="position:relative">
                                <input class="count-bar" [(ngModel)]="shotCnt" type="range" min="1" max="10" value="1" step="1" >
                                <img [style.left.px]="shotCnt === 1 ? 3 : 30*(shotCnt-1)+2" style="position: absolute; top:5px;pointer-events: none;" src="/assets/control-circle.png">
                            </div>
                        </div>
                        <div style="width: 150px;">
                            <div style="display: inline-block; width: 25px;"></div>
                            <div style="display: inline-block; background-color: #fff; width: 60px;height: 28px; color:#1B1623; text-align: center; letter-spacing: 1px; line-height: 22px; font-size: 18px; font-weight: 400; margin-right: 10px;">{{shotCnt}}</div>
                            <span style="font-size: 20px;">발</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; margin-top:15px;">
                <div style="padding:7px 0px; width: 190px;"></div>
                <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff; font-size:17px">
                    <div style="display: flex; width: 100%; align-items: center; ">
                        <div style="width: 35px;"></div>
                        <div style="width: 150px;">
                            다음 라운드 넘어가기
                        </div>
                        <div style="flex:1;"></div>
                        <div style="width: 150px;">
                            <div style="display: inline-block;cursor: pointer;" (click)="activeAutoRound=true">
                                <span style="margin-right:5px">ON</span>
                                <span class="material-icons" style="margin-right: 20px;">{{ activeAutoRound ? 'check_box' : 'check_box_outline_blank'}}</span>
                            </div>
                            <div style="display: inline-block;cursor: pointer;" (click)="activeAutoRound=false">
                                <span style="margin-right:5px">OFF</span>
                                <span class="material-icons">{{ activeAutoRound ? 'check_box_outline_blank' : 'check_box'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; margin-top:15px;">
                <div style="padding:7px 0px; width: 190px;"></div>
                <div style="flex:1; padding:7px 30px; background-color: #4A4F5E; color:#fff; font-size:17px">
                    <div style="display: flex; width: 100%; align-items: center; justify-content: space-between; padding-left:35px; padding-right: 20px;">
                        <div style="flex:1">
                            <div style="width: 150px; display: inline-block;">
                                사운드 설정
                            </div>
                            <div style="width: 150px; display: inline-block;">
                                <div style="display: inline-block;" (click)="activeSound=true">
                                    <span style="margin-right:5px">ON</span>
                                    <span class="material-icons" style="margin-right: 20px;">{{ activeSound ? 'check_box' : 'check_box_outline_blank'}}</span>
                                </div>
                                <div style="display: inline-block; cursor: pointer;" (click)="activeSound=false">
                                    <span style="margin-right:5px">OFF</span>
                                    <span class="material-icons">{{ activeSound ? 'check_box_outline_blank' : 'check_box'}}</span>
                                </div>
                            </div>
                        </div>
                        <div style="flex:1; text-align: right;">
                            <div style="width: 150px; display: inline-block;">
                                소수점 설정
                            </div>
                            <div style="width: 150px; display: inline-block;">
                                <div style="display: inline-block;" (click)="activeDeciaml=true">
                                    <span style="margin-right:5px">ON</span>
                                    <span class="material-icons" style="margin-right: 20px;">{{ activeDeciaml ? 'check_box' : 'check_box_outline_blank'}}</span>
                                </div>
                                <div style="display: inline-block; cursor: pointer;" (click)="activeDeciaml=false">
                                    <span style="margin-right:5px">OFF</span>
                                    <span class="material-icons">{{ activeDeciaml ? 'check_box_outline_blank' : 'check_box'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; margin-top:15px;">
                <div style="padding:7px 0px; width: 190px;"></div>
                <button style="flex:1;padding:6px 0px; font-size: 16px; font-weight: 500;box-shadow: 3px 0px 6px #00000029; margin-right: 3px;">동기화</button>
                <button (click)="resetConfig()" style="flex:1; font-size: 16px; font-weight: 500;box-shadow: 3px 0px 6px #00000029;">기본값</button>
            </div>
        </div>

        <div style="display: flex; margin-top:15px; justify-content: right; gap:5px;">
            <button style="width: 90px; height: 30px; font-size: 16px; letter-spacing: 3px;box-shadow: 3px 0px 6px #00000029;">적용</button>
            <button style="width: 90px; height: 30px; font-size: 16px; letter-spacing: 3px;box-shadow: 3px 0px 6px #00000029;">확인</button>
        </div>
        


    </div>

</div>
