.round-title{
    text-align: center;
    display: flex;
    align-items: center;
    .item{
        flex:1;
        height: 40px;
        line-height: 35px;
        border:1px solid #E4E4E4;
        font-size: 1rem;
        margin-right: -1px;
        margin-bottom: -1px;
        background-color: #F9FEFF;
        &.round{
            flex:0.6;
        }
        &.hit{
            flex:0.5;
        }
    }
}

.round-value{
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    .item{
        flex:1;
        height: 40px;
        line-height: 35px;
        margin-right: -1px;
        margin-bottom: -1px;
        border: 1px solid #707070;
        font-size: 1rem;
        &.round{
            flex:0.6;
        }
        &.hit{
            flex:0.5;
            background-color: #E8FAFF;
        }
        &.score{
            background-color: #E8FAFF;
        }
    }
}