<div
  style="background-color: rgba(0, 0, 0, 0.8); padding-top: 33px; padding-bottom: 43px;  width: 100%; left: 0; position: fixed; top: calc(50% - 110px); display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div style="color: #fff; font-size: 73px;">{{notice}}</div>

  <div style="display: flex; justify-content: space-between; color: #fff; font-size: 35px; margin-top: 24px;">
    <div style="margin-right: 72px; color: #DFFF00">A조</div>
    <div style="margin-right: 72px;">1레인: 홍길동</div>
    <div style="margin-right: 72px;">2레인: 홍길동</div>
    <div style="margin-right: 72px;">3레인: 홍길동</div>
    <div style="margin-right: 72px;">4레인: 홍길동</div>
  </div>

  <div style="display: flex; justify-content: space-between; color: #fff; font-size: 35px; margin-top: 24px;">
    <div style="margin-right: 72px; color: #DFFF00">B조</div>
    <div style="margin-right: 72px;">5레인: 홍길동</div>
    <div style="margin-right: 72px;">6레인: 홍길동</div>
    <div style="margin-right: 72px;">7레인: 홍길동</div>
    <div style="margin-right: 72px;">8레인: 홍길동</div>
  </div>
</div>