
<main>
    <div class="header-bar">
        <div>
            <img src="assets/logo.svg">
        </div>
        <div>
            <div class="material-icons person" style="padding-right:15px; font-size: 35px; color: #CECECE; color:#0064FF" (click)="openLogin();">person</div>
            <div class="material-icons print" style="font-size: 35px; color: #CECECE;">print</div>
            <div class="material-icons settings" style="padding-left: 15px; font-size: 35px; color: #CECECE;">settings</div>
        </div>
    </div>
    <ng-content></ng-content>
</main>

<footer></footer>