<header>
    <div></div>
</header>

<main>
    <div class="header-bar">
        <div>
            <img src="assets/logo.svg">
        </div>
        <div>
            <div class="material-icons person"  style="padding-right:20px; font-size: 40px;" (click)="openLogin();">person</div>
            <div class="material-icons print" style="font-size: 40px; ">print</div>
            <div class="material-icons settings" style="padding-left: 20px; font-size: 40px;" (click)="openConfig()">settings</div>
        </div>
    </div>
    <ng-content></ng-content>
</main>

<footer>
    <div></div>
</footer>