header{
    width: 100%;
    height: 30px;
    background-color: #3C3C5A;
}

footer{
    width: 100%;
    background-color: #3C3C5A;
}

main{
    flex:1;
    background-color: #eee;
    padding:0px 50px;
    background-image: url("/assets/back_img.png");
    background-size: 100% 100%;
}

.material-icons{
    color: #CECECE;
    cursor: pointer;
    &.person:hover{
        color:#0064FF;
    }
    &.print:hover{
        color:#0064FF;
    }
    &.settings:hover{
        color:#0064FF;
    }
}

.header-bar{
    display: flex;
    justify-content: space-between;
    padding:30px 20px;
    padding-top:20px;
}

svg:hover #login{
    fill: #0062F8;
}

svg:hover #print{
    fill: #0062F8;
}

svg:hover #config{
    fill: #0062F8;
}

svg:hover #my{
    fill: #0062F8;
}

.layout-wrap{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.config-btn{
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #C1C1C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 0px 6px #00000029;
    border:none;
    font-size: 18px;
    font-weight: 400;
    width: 250px;
    height: 35px;
}