<div style="width: 700px;">
    <div class="title-bar" style="height: 70px; line-height: 70px; color:#fff; font-size: 30px; font-weight: bold; padding:0px 50px;">마이 페이지</div>
    <div style="padding:15px 50px; background-color: #EDEFF5;">
        <div style="display: flex; align-items: center;">
            <div [style.background-image]="'url('+'/assets/user.svg' +')'" style="width: 93px; height: 93px; border-radius: 50%; background-size: cover; position:relative">
                <div [style.background-image]="'url('+'/assets/user-add.svg' +')'" style="width: 25px;height: 25px; position: absolute;right: 0px;bottom: 0px; background-size: 100% 100%;"></div>
            </div>
            <div style="margin-left: 20px;">
                <div>
                    <span style="color:#0071E1; font-size:17px; font-weight: bold; margin-right: 15px; vertical-align: baseline;">KSLS777</span>
                    <span style="font-size:17px; vertical-align: baseline;">홍길동</span>
                </div>
                <div style="margin-top:5px; font-size: 15px; color:#888888">
                    <span>남성 / </span>
                    <span>19세 / </span>
                    <span>인천광역시 서구</span>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 0px; border:1px solid #0564AA"></div>
    <div class="info-wrap">
        <div class="item" style="background-color: #EDEFF5;">이름</div>
        <div class="item" style="text-align: left; padding: 10px 35px;">홍길동</div>
        <div class="item" style="background-color: #EDEFF5;">성별</div>
        <div class="item">남자</div>
    </div>
    <div class="info-wrap">
        <div class="item" style="background-color: #EDEFF5;">생년월일</div>
        <div class="item" style="text-align: left; padding: 10px 35px;">1999.01.28</div>
        <div class="item" style="background-color: #EDEFF5;">회원형태</div>
        <div class="item">학생</div>
    </div>
    <div class="info-wrap">
        <div class="item" style="background-color: #EDEFF5;">사용자 ID</div>
        <div class="item" style="text-align: left; padding: 10px 35px;position: relative;">
            <span>KSLS777</span>
            <div style="box-shadow: 3px 0px 3px #00000029; border: 1px solid #C5C5C5;font-size:11px;background: transparent linear-gradient(180deg, #FFFFFF 0%, #C1C1C1 100%) 0% 0% no-repeat padding-box; padding:5px 7px; position:absolute; right: 20px; top:6px;">비밀번호 변경</div>
        </div>
        <div class="item" style="background-color: #EDEFF5;">최종 점수</div>
        <div class="item">87.5 점</div>
    </div>
    <div class="info-wrap">
        <div class="item" style="background-color: #EDEFF5;">휴대전화</div>
        <div class="item" style="text-align: left; padding: 10px 35px;">010-1111-1111</div>
        <div class="item" style="background-color: #EDEFF5;">평균 점수</div>
        <div class="item">77.2점</div>
    </div>
    <div class="info-wrap">
        <div class="item" style="background-color: #EDEFF5;">휴대전화(보호자)</div>
        <div class="item" style="text-align: left; padding: 10px 35px;">010-1111-1112</div>
        <div class="item" style="background-color: #EDEFF5;">종목</div>
        <div class="item">10cm 권총</div>
    </div>
    <div class="info-wrap">
        <div class="item" style="background-color: #EDEFF5;">주소</div>
        <div class="item" style="text-align: left; padding: 10px 35px;">인천광역시 서구 청라동</div>
        <div class="item" style="background-color: #EDEFF5;">회원 가입일</div>
        <div class="item">2022.01.02</div>
    </div>
    <div class="info-wrap" style="grid-template-rows: 120px; grid-template-columns: 1fr 4.5fr;">
        <div class="item" style="background-color: #EDEFF5;padding:15px 0px">기타</div>
        <div style="padding:15px 35px;border-bottom:1px solid #C5C5C5;">기타사항 입력</div>
    </div>
    <div style="width: 100%;height: 30px; background-color: #EDEFF5;"></div>
</div> 