<div style="width: 1280px; background-color: #F6F6F6;">
    <div style="display: flex; justify-content: space-between; align-items: center; padding:15px 25px; background: transparent linear-gradient(180deg, #0079C6 0%, #0C3F79 100%);">
        <div style="font-size: 21px; color:#fff; font-weight: 500;">표적지 변경</div>
        <svg (click)="closeZeroConfig();" xmlns="http://www.w3.org/2000/svg" width="22.851" height="22.851" viewBox="0 0 22.851 22.851"><path id="패스_7744" data-name="패스 7744" d="M772.744,1147.345l-3.6-3.6-7.825,7.825-7.825-7.825-3.6,3.6,7.825,7.825L749.893,1163l3.6,3.6,7.825-7.825,7.825,7.825,3.6-3.6-7.825-7.825Z" transform="translate(-749.893 -1143.745)" fill="#fff"/></svg>          
    </div>
    <div style="display: flex;">
        <div style="flex:1;">
            <div [style.background-image]="'url('+ environment.videoUrl+')'" (click)="mouseOffset($event);" #target style="background-size: 100% 100%; height: 480px; position:relative" >
                <div [style.left.px]="zeroX" [style.top.px]="zeroY" style="pointer-events: none; position:absolute; top:50%;left:50%; transform: translate(-50%,-50%);">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="red"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                </div>
                <div [style.left.px]="centerX" [style.top.px]="centerY" style="pointer-events: none; position:absolute; top:240px;left:320px; transform: translate(-50%,-50%);">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="blue"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                </div>

                <ng-container *ngFor="let item of dotArr">
                    <div [style.left.px]="item.x" [style.top.px]="item.y" style="pointer-events: none; position:absolute; top:240px;left:320px; transform: translate(-50%,-50%);">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="green"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    </div>
                </ng-container>

                
            </div>
        </div>
        <div style="flex:1">
            <div [style.background-image]="'url('+ environment.detectUrl+')'" style=" background-size: 100% 100%; height: 480px;"></div>
        </div>
    </div>
    <div style="padding:15px; margin-top: 20px;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex:1">
                <div style="display: flex; flex-direction: column;">
                    <div>
                        <div style="display: inline-block; font-size: 22px; margin-right: 10px; font-weight: bold; height: 28px;">X : </div>
                        <div style="display: inline-block; font-size: 22px; box-shadow:inset 1px 1px 2px #00000029; width: 130px; height: 35px; text-align: center; line-height: 35px;">{{zeroX}}</div>
                        <div style="display: inline-block;">
                            <div style="display: flex; flex-direction: column;">
                                <button (click)="zeroX = zeroX < 640 ? zeroX + 1 : zeroX;" style="cursor: pointer; border:none; outline:none; background-image:url('/assets/small-up-arrow.svg'); width: 31px;height: 18px; background-size:100% 100%;"></button>
                                <button (click)="zeroX = zeroX > 0 ? zeroX - 1 : zeroX;"style="cursor: pointer; border:none; background-image:url('/assets/small-down-arrow.svg'); width: 31px;height: 18px; background-size:100% 100%;"></button>  
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px;">
                        <div style="display: inline-block; font-size: 22px; margin-right: 10px; font-weight: bold; height: 28px;">Y : </div>
                        <div style="display: inline-block; font-size: 22px; box-shadow:inset 1px 1px 2px #00000029; width: 130px; height: 35px; text-align: center; line-height: 35px;">{{zeroY}}</div>
                        <div style="display: inline-block;">
                            <div style="display: flex; flex-direction: column;">
                                <button (click)="zeroY = zeroY < 480 ? zeroY - 1 : zeroY;" style="cursor: pointer; border:none; background-image:url('/assets/small-up-arrow.svg'); width: 31px;height: 18px; background-size:100% 100%;"></button>
                                <button (click)="zeroY = zeroY > 0 ? zeroY + 1  : zeroY;" style="cursor: pointer; border:none; background-image:url('/assets/small-down-arrow.svg'); width: 31px;height: 18px; background-size:100% 100%;"></button>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex:3">
                <div>Brighness Threshole :</div>
                <div style="position:relative">
                    <input class="threshole-bar" [(ngModel)]="threshole" type="range" min="0" max="250" value="0" step="5" >
                    <img [style.left.px]="threshole === 1 ? 3 : (threshole/5)*13+2" style="position: absolute; bottom: 23px; pointer-events: none;" src="/assets/big-circle.png">
                </div>
            </div>
            <div style="flex:1.5; text-align: center;">
                <div style="display: inline-block; margin-right: 10px; font-size: 18px; font-weight: bold;">Current Threshold :</div>
                <div style="display: inline-block; font-size: 22px; box-shadow:inset 1px 1px 2px #00000029; width: 130px; height: 35px; text-align: center; line-height: 35px;">{{threshole}}</div>
            </div>
        </div>
    </div>
    <div style="padding:15px; text-align: right;">
        <button (click)="saveZeroConfig();;" style="width: 100px; height: 35px; background: transparent linear-gradient(180deg, #FFFFFF 0%, #C1C1C1 100%); border: 1px solid #707070; margin-right: 10px;">적용</button>
        <button (click)="closeZeroConfig();" style="width: 100px; height: 35px; background: transparent linear-gradient(180deg, #FFFFFF 0%, #C1C1C1 100%); border: 1px solid #707070">취소</button>
    </div>
</div>