<!-- 시멘틱 태그를 연습하였으니.. 뭔가이상하면 div로 바꿔주시게 홀홀.. -->
<main style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.9); padding: 10%;">
    <header style="width: 50%; margin: 0 auto; text-align: center; font-size: 56px; color: #fff;">관리자모드 메인 화면</header>
    <div class="menu-container" style="margin-top: 100px;"> <!--flex 부모 컨테이너-->
        <section class="menu-wrap"> <!--grid 자식 요소-->
            <article (click)="openLane()">
                <img src="assets/relay.svg" />
                <h3>
                    대회(중계)
                </h3>
            </article>
            <article>
                <img src="assets/user-management.svg" />
                <h3>
                    회원관리
                </h3>
            </article>
            <article>
                <img src="assets/network.svg" />
                <h3>
                    네트워크 설정
                </h3>
            </article>
            <article>
                <img src="assets/data.svg" />
                <h3>
                    데이터
                </h3>
            </article>
        </section>
    </div>
</main>