.menu-container {
    // display: flex; 
    // justify-content: center;
    .menu-wrap {
        display: grid; 
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        article {
            padding: 40px 25px;
            text-align: center;
            background-color: #fff;
            cursor: pointer;
        }
    }
}