/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
  vertical-align: middle;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input:focus {
    outline: none;
}

textarea:focus{
    outline: none;
}

input::placeholder {
    color: #959595;
}

.rect {
    position: relative;
    padding-bottom: 100%;
    .rect-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

mat-dialog-container{
    padding:0px !important;
}

.title-bar{
    background: transparent linear-gradient(90deg, #0079C6 0%, #0C3F79 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 0px 6px #00000029;
    color:#fff;
}