<!-- 시멘틱 태그를 연습하였으니.. 뭔가이상하면 div로 바꿔주시게 홀홀.. -->

<div style="overflow: hidden;">
    <div class="title-bar" style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding:10px 30px">
        <div style="margin-left: 20px; font-size: 25px; font-weight: 500;">관리자 기능</div>
        <div class="material-icons" style="font-size: 35px; font-weight: bold;">close</div>
    </div>
    <main style="width: 1000px; height: 100%; background:linear-gradient(to bottom,#1B1623,#433754); position: relative;">
        <div style="position: absolute; left: 0px; top:50%; transform: translateY(-50%);z-index: 0;"> 
            <img src="/assets/left-setting.svg" >
        </div>
        <div style="position: absolute; right: 0px; bottom:30px; pointer-events: none;"> 
            <img src="/assets/right-setting.svg" >
        </div>
        <div style="position: absolute; right: 20%; top:0px;"> 
            <img src="/assets/top-setting.svg" >
        </div>
        <div style="position: absolute; left: 20%; bottom:0px;"> 
            <img src="/assets/bottom-setting.svg" >
        </div>
        <div class="menu-container"> <!--flex 부모 컨테이너-->
            <section class="menu-wrap"> <!--grid 자식 요소-->
                <article (click)="openLaneConfig()">
                    <img src="/assets/relay.svg" />
                    <h3>
                        대회(중계)
                    </h3>
                </article>
                <article>
                    <img src="/assets/user-management.svg" />
                    <h3>
                        회원관리
                    </h3>
                </article>
                <article>
                    <img src="/assets/network.svg" />
                    <h3>
                        네트워크 설정
                    </h3>
                </article>
                <article>
                    <img src="/assets/data.svg" />
                    <h3>
                        데이터
                    </h3>
                </article>
            </section>
        </div>
    </main>

</div>