
<div style="width: 800px;">
    <div style="padding:15px 30px; font-size: 25px; font-weight: bold; color:#fff;background: transparent linear-gradient(90deg, #0079C6 0%, #0C3F79 100%) 0% 0% no-repeat padding-box; display: flex; justify-content: space-between; align-items: center;" >
        <div>회원가입</div>
        <div style="font-size:40px; font-weight: bold;" class="material-icons" (click)="closeRegist();">close</div>
    </div>
    
    <div style="padding:25px 30px; background-color: #EDEFF5;border-bottom: 1px solid #ccc;">
        <div style="font-size: 22px; font-weight: bold;">회원정보 입력</div>
        <div style="font-size:12px; color:#CE0000; margin-top:10px;">회원가입 목록 항페 빨간점이 있는 내용은 필수 입력 내용입니다. (해당 입력란을 빠짐없이 입력해 주세요.)</div>
    </div>
    
    <div style="padding:5px 30px; background-color: #EDEFF5; font-size: 14px;">
        <div>
            <div style="padding: 7px 0px;">
                <span style="color:red">*</span> 
                <span> 아이디</span>
            </div>
            <input placeholder="ID or 핸드폰 뒷자리" style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
            <span style="font-size:10px; color:#CE0000; margin-left: 7px;">닉네임 혹은 핸드폰 뒷자리를 입력하세요.</span>
        </div>

        <div style="display: flex;">
            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 비밀번호</span>
                </div>
                <input placeholder="password" style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
            </div>
            <div style="margin-left: 20px;">
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 비밀번호 확인</span>
                </div>
                <input placeholder="password" style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
                <span style="font-size:10px; color:#CE0000; margin-left: 7px;">동일한 비밀번호를 입력해주세요.</span>
            </div>
        </div>

        <div style="display: flex; gap:20px;">
            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 이름</span>
                </div>
                <input placeholder="이름을 입력해주세요" style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
            </div>

            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 생년월일</span>
                </div>
                <div style="display: flex; gap:5px;">
                    <input placeholder="2022" style="width: 85px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
                    <input placeholder="월" style="width: 70px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
                    <input placeholder="일" style="width: 70px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
                </div>
            </div>

            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 성별</span>
                </div>
                <input placeholder="성별" style="width: 70px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
            </div>

            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 구분</span>
                </div>
                <input placeholder="학생" style="width: 70px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
            </div>

            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 종목</span>
                </div>
                <input placeholder="권총" style="width: 70px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>
            </div>

        </div>

        <div style="display: flex;">
            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 휴대전화(본인)</span>
                </div>
                <input placeholder="휴대전화 번호 입력" style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>                    
            </div>
            <div style="margin-left: 20px;">
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 휴대전화(보호자)</span>
                </div>
                <input placeholder="휴대전화 번호 입력" style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>                    
            </div>
        </div>

        <div>
            <div>
                <div style="padding: 7px 0px;">
                    <span style="color:red">*</span> 
                    <span> 주소</span>
                </div>
                <input style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>                    
                <div style="font-size: 14px; font-weight: 500; margin-left: 10px; display: inline-block; padding:5px 8px; background: transparent linear-gradient(180deg, #FFFFFF 0%, #C1C1C1 100%) 0% 0% no-repeat padding-box;
                box-shadow: 3px 0px 3px #00000029;">주소찾기</div>
                <div style="margin-top:7px;">
                    <input style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px; margin-right: 5px;"/>                    
                    <input style="width: 170px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px;"/>                    
                </div>
            </div>
        </div>

        <div>
            <div>
                <div style="padding: 7px 0px;">
                    <span></span> 
                    <span> 일반표기사항</span>
                </div>
                <textarea style="width: 100%; height: 100px; border: 1px solid #D8D8D8; border-radius: 5px; padding:7px 10px; resize: none;"></textarea>
            </div>
        </div>

        <div style="width: 100%; text-align: right; margin-top: 10px;">
            <button style="background-color: #0064FF;border-radius: 5px; width: 100px; height: 35px;box-shadow: 3px 3px 6px #00000029; border:none; color:#fff">회원가입</button>
        </div>

        <div style="height: 50px;"></div>
    </div>
    
</div>
